#{
    margin:0%
    padding:0%
}
body{
    background-color: aqua;
}
.face{
    background-color: chartreuse;
    height: 500px;
    width: 500px;
    border-radius :50%; 
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -250px;
    margin-top: -270px;

}
.eye{
    width: 40px;
    height: 100px;
    position:absolute;
    background: #fff;
    border-radius: 40%;
    top: 100px;
}
.eye:nth-child(1){
 left: 80px;

}
.eye:nth-child(2){
    right:80px;
}
.lips{
    width: 200px;
    height: 41px;
    background: rgb(81, 16, 219);
    border-radius: 60%;
    position: absolute;
    bottom: 70px;
    left: 68%;
    margin-left: -200px;
    border: 5px solid #ebf61c;
    border-color: transparent transparent#e31619 transparent;
}
.pupil{
    width: 40px;
    height: 40px;
    background:#000 ;
    position: absolute;
    left: 50%;
    top: 70px;
    margin-left: -45px;
    margin-top: -25px;
    border-radius: 50%;

}
